<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Emanuel Jeisom">

<title>Academy project</title>

<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="icon" type="image/x-icon" href="/img/favicon.ico">
<link
	href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@200&display=swap"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/006642858d.js"></script>

</head>
<body>
	
	<header th:fragment="header" >
		<nav class="navbar navbar-expand-lg navbar-dark navbar-main">
			<a class="navbar-brand" th:href="@{/}"> 
				<img alt="site-logo" src="/img/logo.png">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navMobile">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navMobile" class="navbar-collapse collapse justify-content-end">
				<a class="bnt-nav nav-item nav-link" th:href="@{/}"><i class="fas fa-home"></i> Home</a> 
				<a class="bnt-nav nav-item nav-link" th:href="@{/insert-students}"><i class="fas fa-user-graduate"></i> Cadastrar Aluno</a> 
				<a class="bnt-nav nav-item nav-link"><i class="fas fa-search"></i> Pesquisar Aluno</a> 
				<a class="bnt-nav-sair nav-item nav-link btn-danger"><i class="fas fa-times"></i> SAIR</a>
			</div>

		</nav>
	</header>
	
	<footer th:fragment="footer" >
		
		<div class="footer">
			<span> Todos os direitos reservados - 2023 &copy;  Emanuel Jeisom</span>
		</div>
		
	</footer>



	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>