@charset "UTF-8";
.container{
	margin-top: 30px;
}

form{
	margin-bottom: 100px;
}

.container h4{
	margin-bottom: 30px;
	border-bottom: 1px solid #808080;
}

.reg-button{
	margin-top: 10px;
}

.form-submit{
	padding-right: 300px;
	justify-content: end;
}