@charset "UTF-8";
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.navbar-main{
	background: #283593;
	height: 90px;
	color: #FFF;
	text-transform: uppercase;
}

a{
	cursor: pointer;
	font-weight: bold;
}

#navMobile .bnt-nav:hover{
	color: #BA68C8;
}

#navMobile .bnt-nav-sair:hover{
	background: #FFF;
	color: #C82333;
}

.neo-section{
	background-image: url('/img/background-image.png');
	background-size: cover !important;
	min-height: 510px;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 30px;
	position: relative;
}

.neo-container{
	max-width: 1280px;
	padding: 2% 2%;
	margin: 0 auto;
	margin-top: 125px;
}

.neo-container .center-text{
	color: #FFF;
	font-size: 3em;
	font-weight: bold;
}

.neo-section> .neo-container{
	position: relative;
	z-index:101;
}

.buttons{
	padding: 2% 15%;
}

.wm{
	width: 50%;
	float: left;
}

.wm .btn{
	width: 280px;
	color: #FFF;
	border-radius: 10px;
	border: 3px solid #A55EEA;
	margin: 5px;
}

.wm .btn:hover{
	color: #A55EEA;
	background: rgba(0,0,0,0.5);
	border: 3px solid #CE93D8;
	font-weight: bolder;
}

.btn-cad{
	text-align: right;
	justify-content: end;
}

.btn-enc{
	text-align: left;
	justify-content: start;
}

.shadow{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(0,0,0,0.7);
	z-index:100;
}

.clear{
	clear: both;
}

.center{
	text-align: center;
}

.footer{
	color: #FFF;
	background: #283593;
	text-align: center;
	font-size: 1.00em;
	padding: 5px;
}

@media screen and (max-width: 990px){
	
	.neo-container{
		margin-top: 80px;
	}
	
	.wm{
		width: 100%;
	}
	
	.btn-cad{
		text-align: center;
		justify-content: center;
	}
	
	.btn-enc{
		text-align: center;
		justify-content: center;
	}
	
	.navbar-main{
		height: 100%
	}
	
}





























